<ol class="list-group">
  {{#each posts}}
  <li class="list-group-item d-flex justify-content-between align-items-start rounded-3 list-group-item-primary">
    <a href="/comments/{{this.id}}" class="list-group-item d-flex justify-content-between align-items-start rounded-3 list-group-item-action list-group-item-primary">
       
        <div class="fw-bold">{{this.title}}</div>
        <div id="hidden-content" class="visually-hidden">
            {{this.content}}
        </div>
        
        <span class="badge bg-primary rounded-pill">{{this.date_created}}</span>
    </a>
  </li>
  {{/each}}
</ol>

<script src="/js/home.js"></script>